<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <i class="material-icons">filter_list</i>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="filter">
      <mat-form-field>
        <input matInput type="number" placeholder="Age" [(ngModel)]="filter.Age">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Height" [(ngModel)]="filter.Height">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Hair Color" [(ngModel)]="filter.HairColor">
      </mat-form-field>

    </div>

    <button color="primary" (click)="applyFilter()" mat-raised-button>
     Apply Filter
    </button>

    <button (click)="clearFilter()" mat-raised-button>
      Clear
    </button>
  </mat-drawer>

      <router-outlet></router-outlet>
</mat-drawer-container>

