.example-container {
  height: calc(100% - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: darkgray;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter > * {
  width: 100%;
}
